<template name="private">
  <div id="wrapper">
  <!-- Sidebar -->
   <div id="sidebar-wrapper">
       <ul class="sidebar-nav">

           <li>
               <a href="#">Dashboard</a>
           </li>
       </ul>

   </div>
   <!-- /#sidebar-wrapper -->
  <div class="page-content-wrapper">
    <div class="togglemenu">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Sidebar >></a>
    </div>

    {{map}}
    <div id="map" class="map">
      <div id="slides">
        {{#each posts}}

      <h2 class="editable-text-trigger">
        {{> editableText options=postOptions}}
      </h2>
      <div class="editable-text-trigger">
            {{> editableText collection="posts" field="body" wysiwyg=true acceptEmpty=true substitute='<i class="fa fa-pencil"></i>' class="post-body" inputClass="post-body-wysiwyg" beforeUpdate="addTimestampToDoc"}}
          </div>

  {{/each}}
  {{#with body=""}}
    <span class="btn btn-default editable-text-trigger">
      <i class="fa fa-plus"></i> New Slide{{> editableText context=newCommentDoc collection="posts" field="title" autoInsert=true}}
    </span>
  {{/with}}
      </div>
    </div>
  </div>
</div>
</template>
